In [2]:
import numpy as np
from statsmodels.datasets import grunfeld
data = grunfeld.load_pandas().data
data.year = data.year.astype(np.int64)
# MultiIndex, entity - time
data = data.set_index(['firm','year'])
from linearmodels import PanelOLS
mod = PanelOLS(data.invest, data[['value','capital']], entity_effects=True)
res = mod.fit(cov_type='clustered', cluster_entity=True)

In [3]:
res

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 invest   R-squared:                        0.7667
Estimator:                   PanelOLS   R-squared (Between):              0.8223
No. Observations:                 220   R-squared (Within):               0.7667
Date:                Mon, Jan 13 2020   R-squared (Overall):              0.8132
Time:                        10:04:47   Log-likelihood                   -1167.4
Cov. Estimator:             Clustered
                                        F-statistic:                      340.08
Entities:                          11   P-value                           0.0000
Avg Obs:                       20.000   Distribution:                   F(2,207)
Min Obs:                       20.000
Max Obs:                       20.000   F-statistic (robust):             31.490
                                        P-value                           0.0000
Time periods:                      20   Distribution:                   F(2,207)
Avg Obs:                       11.000
Min Obs:                       11.000
Max Obs:                       11.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
value          0.1101     0.0144     7.6453     0.0000      0.0817      0.1385
capital        0.3100     0.0500     6.1970     0.0000      0.2114      0.4087
==============================================================================

F-test for Poolability: 49.207
P-value: 0.0000
Distribution: F(10,207)

Included effects: Entity
PanelEffectsResults, id: 0x12ff53b9948

In [4]:
data.describe()

            invest        value      capital
count   220.000000   220.000000   220.000000
mean    133.311900   988.577805   257.108541
std     210.587186  1287.301172   293.227914
min       0.930000    30.284000     0.800000
25%      27.380000   160.325000    67.100000
50%      52.365000   404.650000   180.100000
75%      99.782500  1605.925000   344.500000
max    1486.700000  6241.700000  2226.300000

In [5]:
data

                      invest     value  capital
firm           year
General Motors 1935  317.600  3078.500    2.800
               1936  391.800  4661.700   52.600
               1937  410.600  5387.100  156.900
               1938  257.700  2792.200  209.200
               1939  330.800  4313.200  203.400
...                      ...       ...      ...
American Steel 1950    4.770    36.494   75.847
               1951    6.532    46.082   77.367
               1952    7.329    57.616   78.631
               1953    9.020    57.441   80.215
               1954    6.281    47.165   83.788

[220 rows x 3 columns]